<div class="header">
  <div class="icon-container">
    <i matTooltip="Logout" class="fas fa-sign-out-alt" (click)="logout()"></i>
  </div>
</div>
<div class="content">
  <div class="left-header" [routerLink]="['/view-user', user.id]">
    <i
      class="fas-sharp fa-solid fa-circle-arrow-left fa-2xl"
      style="
        color: white;
        font-size: 33px;
        font-weight: bold;
        padding-left: 160px;
      "
    ></i>
  </div>
  <div class="middle-header">
    <span>Update User Status</span>
  </div>
</div>
<div class="entity-list-container">
  <!-- firstrow -->
  <div class="insidecontainer">
    <div class="row row-4">
      <div class="col-md-4">
        <label class="label">Username</label>
        <input
          type="text"
          class="input-box"
          [(ngModel)]="user.name"
          placeholder="Enter Username"
          readonly
        />
      </div>
      <div class="col-md-4">
        <label class="label">Email</label>
        <input
          type="text"
          class="input-box"
          [(ngModel)]="user.email"
          placeholder="Enter Email"
          readonly
        />
      </div>
      <div class="col-md-4">
        <label class="label">Phone</label>
        <input
          type="text"
          class="input-box"
          [(ngModel)]="user.phonenumber"
          placeholder="Enter Phone number"
          readonly
        />
      </div>
    </div>

    <!-- Secondrow -->
    <div class="row row-4">
      <div class="col-md-4">
        <label class="label">Gender</label>
        <select
          class="input-box"
          name="gender"
          [(ngModel)]="user.gender"
          disabled
        >
          <option value="" selected disabled>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="label">Date of Birth</label>
        <input
          type="date"
          class="input-box"
          [(ngModel)]="user.dob"
          placeholder="Enter DOB"
          readonly
        />
      </div>
      <div class="col-md-4">
        <label class="label">Role</label>
        <input type="text" class="input-box" [value]="user.roleName" readonly />
      </div>
      <div class="col-md-4">
        <label class="label">Activate/Deactivate User</label>
        <label class="switch" for="checkbox">
          <input
            type="checkbox"
            id="checkbox"
            name="status"
            [(ngModel)]="user.status"
          />
          <div class="slider round"></div>
        </label>
      </div>
    </div>

    <div class="row row-4">
      <div class="col-md-4 offset-md-4">
        <button class="button button4" [routerLink]="['/list-user']">
          Cancel
        </button>
        <button class="button button4" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>
