<div class="header">
  <div class="icon-container">
    <i
      matTooltip="Disconnect Database"
      class="fa-solid fa-plug-circle-xmark"
    ></i>
    <i matTooltip="Logout" class="fas fa-sign-out-alt"></i>
  </div>
</div>
<div class="content">
  <div class="left-header" (click)="BacktoView()">
    <i
      class="fas-sharp fa-solid fa-circle-arrow-left fa-2xl"
      style="
        background-color: #243d4d;
        color: white;
        font-size: 33px;
        font-weight: bold;
      "
    >
    </i>
  </div>
  <div class="middle-header">
    <span [textContent]="entityName"></span>
  </div>
</div>
<div class="entity-list-container"  [ngClass]="{'scrollable': columns.length > 2}">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="search-box">
          <input
            #searchInput
            type="text"
            placeholder="Search by Attribute"
            (input)="onSearch()"
          />
          <i class="fas fa-search"></i>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-1" style="padding-right: 50px; width: 43px">
            <div class="trash">
              <div class="background-circle">
                <div class="upload-align" (click)="generateExcelTemplate()"  [routerLink]="['/entity', entityName]"  [ngClass]="{ 'disabled': !hasColumns() }" >
                  <i class="fa-solid fa-file-excel" ></i>
                </div>
              </div>
              <div class="label-content">
                <label>Download</label>
              </div>
            </div>
          </div>
          &nbsp; &nbsp; &nbsp;
          <div class="col-1" style="padding-right: 50px; width: 43px">
            <div class="trash">
              <div class="background-circle">
                <div class="upload-align">
                  <i class="fa-solid fa-arrow-up-from-bracket" style="color: #ffffff" [ngClass]="{ 'disabled': !hasColumns() }" (click)="openFileInput()"></i>
                  <input type="file" #fileInput style="display: none" (change)="uploadTemplate($event)" accept=".xlsx">
                </div>
                <div class="label-content">
                  <label style="padding-left: 10px;"> Upload</label>
                </div>
              </div>
            </div>
          </div>
          &nbsp; &nbsp; &nbsp;
          <div class="col-1" style="padding-right: 50px; width: 43px">
            <div class="trash">
              <div class="background-circle">
                <div class="upload-align">
                  <i
                    class="fa-solid fa-plus"
                    style="color: #ffffff; width: 33px"
                    routerLink="/createentity"
                  ></i>
                </div>
                <div class="label-content">
                  <label style="padding-left: 10px;">Create</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div style="padding: 10px 10px">
    <form #entityForm="ngForm" novalidate>
      <div class="main-container">
        <div *ngFor="let row of columns; let i = index">
          <div class="row">
            <div class="col-2">
              <div class="incontainer">
                <label>Column name</label>
                <input
                  type="text"
                  [(ngModel)]="row.entityColumnName"
                  disabled
                  style="font-size: 15px"
                  name="entityColumnName_{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="incontainer">
                <label>Data Type</label>
                <input
                  type="text"
                  [(ngModel)]="row.datatype"
                  disabled
                  name="datatype_{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'string'">
              <div class="incontainer">
                <label>Min Length</label>
                <input
                  type="number"
                  [(ngModel)]="row.minLength"
                  [disabled]="true"
                  name="minLength_{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'string'">
              <div class="incontainer">
                <label>Max Length</label>
                <input
                  type="text"
                  [(ngModel)]="row.maxLength"
                  [disabled]="true"
                  name="maxLength_{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'int'">
              <div class="incontainer">
                <label>Min Range</label>
                <input
                  type="number"
                  [(ngModel)]="row.minRange"
                  [disabled]="true"
                  name="minRange_{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'int'">
              <div class="incontainer">
                <label>Max Range</label>
                <input
                  type="text"
                  [(ngModel)]="row.maxRange"
                  [disabled]="true"
                  name="maxRange_{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'date'">
              <div class="incontainer">
                <label for="minValue{{ i }}">Min Date</label>
                <input
                  type="text"
                  [(ngModel)]="row.dateMinValue"
                  [disabled]="true"
                  name="dateMinValue{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'date'">
              <div class="incontainer">
                <label for="maxValue{{ i }}">Max Date</label>
                <input
                  type="text"
                  [(ngModel)]="row.dateMaxValue"
                  [disabled]="true"
                  name="dateMaxValue{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'boolean'">
              <div class="incontainer">
                <label>Custom True</label>
                <input
                  type="text"
                  [(ngModel)]="row.True"
                  disabled
                  name="True{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'boolean'">
              <div class="incontainer">
                <label>Custom False Value</label>
                <input
                  type="text"
                  [(ngModel)]="row.False"
                  disabled
                  name="False{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="incontainer">
                <div class="inside-incontainer">
                  <label> Not Null </label>
                  <label class="toggle-switch" style="margin-top: 17px">
                    <input
                      type="checkbox"
                      [(ngModel)]="row.isNullable"
                      disabled
                      name="isNullable{{ i }}"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <span class="slider"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="incontainer">
                <div class="inside-incontainer">
                  <label> Primary Key </label>
                  <label class="toggle-switch" style="margin-top: 17px">
                    <input
                      type="checkbox"
                      [(ngModel)]="row.ColumnPrimaryKey"
                      disabled
                      name="ColumnPrimaryKey{{ i }}"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <span class="slider"></span>
                  </label>
                </div>
              </div>
            </div>
            &nbsp;
            <div class="col-2">
              <div class="incontainer">
                <label>Default Value</label>
                <input
                  type="text"
                  [(ngModel)]="row.defaultValue"
                  disabled
                  name="defaultValue{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="incontainer">
                <label>Description</label>
                <input
                  type="text"
                  [(ngModel)]="row.description"
                  disabled
                  name="description{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'listofvalue'">
              <div class="incontainer">
                <label>Select Entity</label>
                <input
                  type="text"
                  [(ngModel)]="row.S_ListEntityId"
                  disabled
                  name="S_ListEntityId{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'listofvalue'">
              <div class="incontainer">
                <label>Key</label>
                <input
                  type="text"
                  [(ngModel)]="row.S_ListEntityKey"
                  disabled
                  name="S_ListEntityKey{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'listofvalue'">
              <div class="incontainer">
                <label>Value</label>
                <input
                  type="text"
                  [(ngModel)]="row.S_ListEntityValue"
                  disabled
                  name="S_ListEntityValue{{ i }}"
                  [ngModelOptions]="{ standalone: true }"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
          </div>
          <div style="margin-bottom: 10px; padding-top: 10px"><hr /></div>
        </div>
      </div>
      <br />
    </form>
    <br />
  </div>
</div>
