
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Set your desired background color */
  }

:host {
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/entitylist.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.middle-header{
  color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-left: 32%;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 9px;
    color: white;
    background: #1E175E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
    
.left-header span {
    font-size: x-large;
    font-weight: 700;
    color: white;
  }
  
  .right-header {
    right: 5%;
    width: 7%;
    display: inline-grid;
    position: absolute;
  }

  .icon-container {
    display: flex;
    gap: 20px;
  }
  
  .icon-container i {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .content {
    padding-top: 16px;
    display: flex;
    padding-left: 200px;
    /* Add additional styling for your entity list content */
  }
  
  .create-entity {
    justify-content: flex-end;
    padding: 10px;
  }

  .createbutton{
    font-weight: 500;
    font-size: 16px;
    color: white;
    width: 140px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #243D4D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
.entity-list-container {
  position: absolute;
    width: 70%;
    left: 13%;
    height: 82%;
    border-radius: 10px;
    background: rgba(143, 185, 212, 0.85);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin: 20px;
    padding: 18px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 10px;
}
td{
  font-size: 16px;
  padding-top: 5px;
}
tbody{
  background-color: white;
}
th {
  font-weight: 500;
  color: white;
  font-size: 16px;
  background-color: #243D4C;
  padding-right: 13px;
}
.entity-box {
  background: #FFF;
    text-align: center;
    height: 15%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: calc(26.33% - 20px);
    box-sizing: border-box;
}


.search-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: absolute;
  right: 8%;
}

.search-box input {
  height: 35px;
  width: calc(128% - 0px);
  border: none;
  background: none;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 14px;
  margin-right: -39px;
  border-radius: 20px;
  background: #FFF;
}

.search-box i {
  margin-left: -23px;
  color: white;
  cursor: pointer;
  background: #243D4D; /* Background color for the icon */
  border-radius: 50%; /* Border-radius to make it circular */
  padding: 10px; /* Padding to increase the clickable area */
  margin-left: 5px; /* Margin to separate the icon from the input */
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
}

::placeholder {
  color: rgb(0, 0, 0);
  font-weight: lighter; 
  opacity: 0.7;
}

.icons-container1 {
  margin-left: 115%;
    margin-top: -23%;
}

.icons-container1 i {
  background: #243D4D;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}
  
  
  .card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-block-end: 20px;
    inline-size: 9rem;
  }
  
  .btn-info {
    background-color: #007bff; 
    color: #fff;
  }
  .align-export{
    align-content: center;
  }
  /* Center the content within the table */
  .table {
    text-align: center;
  }
  
  /* Align the button to the right */
  .text-right {
    text-align: end;
  }
  
  .Back-button{
     text-align:start; 
     margin-block-start:15px;
     position: relative;
     inset-block-start: 30px;
  }
  .modal-header{
    background-color: #0066CC;
  }
  .white-text {
    color: white;
  }
  .card-body{
    height: 70px;
  }
  .container1{
    padding-left: 110px;
    height: 10%;
  }
  .container{
    height:100px;
  }
  .export-button{
    font-weight: bold;
    font-size: 17px;
    color: white;
    width: 120px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #243D4D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .export-image{
    width: 22px;
  }
  .export-align{
  padding-left: 215px;
  }
  .outbox{
    background-color: white;
    padding-left: 50px;
    height: 320px;
    width: 95%;
    
  }
  .nofound{
    height: 250px;  
    padding-left: 27%;

  }
  .container2{
    padding-left: 40px;
    padding-top: 10px;
  }

  .error-content{
    font-weight: bold;
    text-align: center;
  }

.table-container{
  padding-top: 10px;
}

.fa-solid{
    width:10%;
}

.trash{
    padding-left: 60%;
    background-color:#212529; 
    color: white;
    border-radius: 70%;
    padding: 6px; /* adjust as needed */
    width: 35px;
    height: 35px;
  }
  .backgroud-circle{
    font-size: 18px;
  }
  .trash-container{
    padding-left: 61%;
  }