<div class="header">
  <div class="icon-container">
    <i
      matTooltip="Disconnect Database"
      class="fa-solid fa-plug-circle-xmark"
      (click)="switchView()"
    ></i>
    <i matTooltip="Logout" class="fas fa-sign-out-alt" (click)="logout()"></i>
  </div>
</div>
<div class="content">
  <div class="left-header" (click)="BacktoView()">
    <i
      class="fas-sharp fa-solid fa-circle-arrow-left fa-2xl"
      style="
        background-color: #243d4d;
        color: white;
        font-size: 33px;
        font-weight: bold;
      "
    >
    </i>
  </div>
  <div class="middle-header">
    <span>Edit Attributes of {{ entityName }}</span>
  </div>
</div>
<div
  class="entity-list-container"
  [ngClass]="{ scrollable: columns.length > 1 }"
>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="EntityName">
          <div class="name-div">
            <label for="entityName">Entity Name:</label>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="EnterEntity">
          <input
            type="text"
            id="entityName"
            name="entityName"
            [(ngModel)]="entityName"
            #entityNameInput="ngModel"
            readonly="true"
            value="entityName "    
          />
        </div>
        <div
          *ngIf="
            entityNameInput.invalid &&
            (entityNameInput.dirty || entityNameInput.touched)
          "
        >
          <div
            class="error"
            style="color: red"
            *ngIf="entityNameInput?.errors?.['required']"
          >
            Entity Name is required.
          </div>
          <div
            class="error"
            style="color: red"
            *ngIf="entityNameInput?.errors?.['pattern']"
          >
            Entity Name should start with a letter and contain only letters and
            numbers.
          </div>
        </div>
      </div>
      <div class="line"></div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div style="padding: 0 10px">
    <form
      (keydown)="preventSubmitOnEnter($event, entityForm)"
      (ngSubmit)="submit()"
      #entityForm="ngForm"
      novalidate
    >
      <div class="main-container">
        <div *ngFor="let row of columns; let i = index">
          <div class="row">
            <div class="col-2">
              <div class="incontainer">
                <label>Column name</label>
                <input
                  [(ngModel)]="row.entityColumnName"
                  name="columnName{{ i }}"
                  #columnNameInput="ngModel"
                  style="font-size: 15px"
                  readonly="true"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="incontainer">
                <label>Data Type</label>
                <select
                  [(ngModel)]="row.datatype"
                  name="datatype{{ i }}"
                  required
                  (change)="onDataTypeChange(row)"
                  [disabled]="isReadOnly"
                >
                  <option value="character varying">String</option>
                  <option value="integer">Number</option>
                  <option value="boolean">Boolean</option>
                  <option value="char">Char</option>
                  <option value="date">Date</option>
                  <option value="bytea">ByteA</option>
                  <option value="listofvalue">List of Value</option>
                </select>
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'string' || row.datatype === 'varchar' || row.datatype === 'nvarchar' || row.datatype === 'text' || row.datatype === 'character varying'">
              <div class="incontainer">
                <label>Min Length</label>
                <input
                  type="number"
                  [(ngModel)]="row.minLength"
                  (input)="onInput($event)"
                  (keydown)="validateNumeric($event)"
                  placeholder="Min"
                  id="minLength{{ i }}"
                  (change)="onPrimaryKeyChange($event, row)"
                  name="minLength{{ i }}"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'string' || row.datatype === 'varchar' || row.datatype === 'nvarchar' || row.datatype === 'text' || row.datatype === 'character varying'">
              <div class="incontainer">
                <label>Max Length</label>
                <input
                  type="number"
                  [(ngModel)]="row.maxLength"
                  (input)="onInput($event)"
                  (keydown)="validateNumeric($event)"
                  placeholder="Max"
                  id="maxLength{{ i }}"
                  (change)="onPrimaryKeyChange($event, row)"
                  name="maxLength{{ i }}"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'integer' || row.datatype ==='number' || row.datatype ==='int'">
              <div class="incontainer">
                <label>Min Range</label>
                <input
                  type="number"
                  [(ngModel)]="row.minRange"
                  id="MinRange{{ i }}"
                  placeholder="MinRange"
                  (keydown)="validateNumeric($event)"
                  (input)="onInput($event)"
                  (change)="onPrimaryKeyChange($event, row)"
                  name="minValue{{ i }}"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'integer' || row.datatype ==='number' || row.datatype ==='int'">
              <div class="incontainer">
                <label>Max Range</label>
                <input
                  type="number"
                  [(ngModel)]="row.maxRange"
                  id="MaxRange{{ i }}"
                  placeholder="MinRange"
                  (keydown)="validateNumeric($event)"
                  (input)="onInput($event)"
                  (change)="onPrimaryKeyChange($event, row)"
                  name="maxValue{{ i }}"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'date'">
              <div class="incontainer">
                <label for="minValue{{ i }}">Min Date</label>
                <input
                  *ngIf="row.datatype === 'date'"
                  type="date"
                  [(ngModel)]="row.dateMinValue"
                  id="minValue{{ i }}"
                  name="minValue{{ i }}"
                  [min]="minDate"
                  [max]="maxDate"
                  (change)="onMinDateChange($event, row)"
                  (keydown)="preventInput($event)"
                  (keypress)="preventInput($event)"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'date'">
              <div class="incontainer">
                <label for="maxValue{{ i }}">Max Date</label>
                <input
                  *ngIf="row.datatype === 'date'"
                  type="date"
                  [(ngModel)]="row.dateMaxValue"
                  id="maxValue{{ i }}"
                  name="maxValue{{ i }}"
                  [min]="minDate"
                  [max]="maxDate"
                  (change)="onMaxDateChange($event, row)"
                  (keydown)="preventInput($event)"
                  (keypress)="preventInput($event)"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="incontainer">
                <div class="inside-incontainer">
                  <label> Not Null </label>
                  <label class="toggle-switch" style="margin-top: 17px">
                    <input
                      type="checkbox"
                      [(ngModel)]="row.isNullable"
                      name="isNullable{{ i }}"
                    />
                    <span class="slider"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="incontainer">
                <div class="inside-incontainer">
                  <label> Primary Key </label>
                  <label class="toggle-switch" style="margin-top: 17px">
                    <input
                      type="checkbox"
                      [(ngModel)]="row.ColumnPrimaryKey"
                      name="primaryKey{{ i }}"
                      [disabled]="!isStringOrNumber(row.datatype)"
                      [disabled]="isReadOnly"
                      (change)="onPrimaryKeyChange($event, row)"
                      readonly="true"
                    />
                    <span class="slider" readonly="true"></span>
                  </label>
                </div>
              </div>
            </div>
            &nbsp;
            <div
              class="col-2"
              *ngIf="
                row.datatype !== 'boolean' &&
                row.datatype !== 'date' &&
                row.datatype !== 'timestamp' &&
                row.datatype !== 'listofvalue'
              "
            >
              <div class="incontainer">
                <label>Default Value</label>
                <input
                  [(ngModel)]="row.defaultValue"
                  type="text"
                  placeholder="Enter default value"
                  name="defaultValue{{ i }}"
                  [disabled]="row.ColumnPrimaryKey"
                  (input)="onDefaultValueInputChange($event, row)"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'boolean'">
              <div class="incontainer">
                <label>Default Value</label>
                <select
                  [(ngModel)]="row.defaultValue"
                  name="defaultValue{{ i }}"
                  [disabled]="row.ColumnPrimaryKey"
                >
                  <option value="false">UnSelect</option>
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'boolean'">
              <div class="incontainer">
                <label>Custom Value False</label>
                <input
                  type="text"
                  placeholder="Enter False Value"
                  [(ngModel)]="row.False"
                  id="input2"
                  name="false{{ i }}"
                  [disabled]="row.ColumnPrimaryKey"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'date'">
              <div class="incontainer">
                <label>Default Value</label>
                <input
                  *ngIf="row.datatype === 'date'"
                  type="date"
                  [(ngModel)]="row.defaultValue"
                  id="defaultValue{{ i }}"
                  name="defaultValue{{ i }}"
                  [min]="minDate"
                  [max]="maxDate"
                  (change)="onDefaultValueInputChange($event, row)"
                  [disabled]="!minMaxDatesSelected"
                  (keydown)="preventInput($event)"
                  (keypress)="preventInput($event)"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'boolean'">
              <div class="incontainer">
                <label>Custom Value True</label>
                <input
                  type="text"
                  placeholder="Enter True Value"
                  [(ngModel)]="row.True"
                  id="input1"
                  name="true{{ i }}"
                  [disabled]="row.ColumnPrimaryKey"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="incontainer">
                <label>Description</label>
                <input
                  type="text"
                  placeholder="Enter Description"
                  style="font-size: 15px; font-weight: bold"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="row.datatype === 'listofvalue'">
              <div class="incontainer">
                <label>Select Entity</label>
                <select
                  [(ngModel)]="selectedEntity"
                  (change)="onListValueSelected(selectedEntity, i)"
                  [name]="'selectedEntity' + i"
                  [disabled]="row.ColumnPrimaryKey"
                >
                  <option value="">Select an entity</option>
                  <option
                    *ngFor="let value of listOfValues"
                    [value]="value.entityName"
                  >
                    {{ value.entityName }}
                  </option>
                </select>
                <label
                  style="
                    position: relative;
                    inset-block-start: -28px;
                    font-weight: lighter;
                    padding-left: 10px;
                  "
                  >{{ SelectedEntityName }}</label
                >
              </div>
            </div>
            <div class="col-2" *ngIf="entityColumnNames2.length > 0">
              <div class="incontainer">
                <label>Key</label>
                <input
                  type="text"
                  name="selectedEntity1{{ i }}"
                  value="{{ entityColumnNames1[0] }}"
                  readonly
                  placeholder="Select Key"
                  style="font-size: 15px"
                />
              </div>
            </div>
            <div class="col-2" *ngIf="entityColumnNames2.length > 0">
              <div class="incontainer">
                <label>Value</label>
                <select
                  name="selectedEntity2{{ i }}"
                  [(ngModel)]="selectedEntity2Index"
                  (change)="
                    selectedEntity2Index !== null &&
                      updateSelectedId(selectedEntity2Index)
                  "
                >
                  <option value="-1">Select a column 2</option>
                  <option
                    *ngFor="let columnName of entityColumnNames2; let i = index"
                    [value]="i"
                  >
                    {{ columnName }}
                  </option>
                </select>
              </div>
            </div>
            <div
              class="col-1"
              style="padding-top: 37px; padding-left: 87px"
              (click)="deleteRow(i, $event)"
            >
            </div>
          </div>
          <div style="margin-bottom: 10px; padding-top: 10px"><hr /></div>
        </div>
        <br />
      </div>
    </form>
    <br />
    <div class="form-button">
      <div class="row">
        <button class="Cancel-button" (click)="BacktoView()">Cancel</button>
        <button
          class="Submit-button"
          [disabled]="entityForm.invalid"
          (click)="submit()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
