<div class="full-screen-image">
  <img
    class="image"
    src="../../assets/images/landingpage2.png"
    alt="Landing-page"
  />

  <div class="centered-text">
    <h2>BulkUpload Pro</h2>
    <div class="additional-content">
      <p>
        Welcome to BulkUpload Pro, where data management meets simplicity.
        Effortlessly handle bulk uploads across databases, ensuring efficiency
        and consistency. Our user-friendly interface and innovative solutions
        make us the ideal choice
      </p>
    </div>
  </div>

  <div class="feature-boxes">
    <div class="feature-box">
      <p>Upload bulk data from Excel</p>
    </div>
    <div class="feature-box">
      <p>Access to Multiple Database</p>
    </div>
    <div class="feature-box">
      <p>Access to Upload Data Error Logs</p>
    </div>
  </div>

  <div *ngIf="loggedIn$; else showLoginButton" class="register-button">
    <div (click)="portCommunicationPopup()">
      <button>
        <span>Port Communication</span>
        <i class="fas fa-user-plus"></i>
      </button>
    </div>
    <div (click)="ScreenMappingPopup()">
      <button>
        <span>ScreenMapping</span>
        <i class="fas fa-user-plus"></i>
      </button>
    </div>
    <div (click)="ScreenPopup()">
      <button>
        <span>Screen</span>
        <i class="fas fa-user-plus"></i>
      </button>
    </div>
    <div (click)="navigateToRegister()">
      <button>
        <span>User</span>
        <i class="fas fa-user-plus"></i>
      </button>
    </div>
    <div (click)="RolePopup()" style="margin-right: 10px">
      <button>
        <span>Role</span>
        <i class="fas fa-user-plus"></i>
      </button>
    </div>
    <div (click)="dbPopup()" style="margin-right: 10px">
      <button style="width: 100%">
        <span>Connect Database</span>&nbsp;<i class="fa-solid fa-plug"></i>
      </button>
    </div>
    <div (click)="logout()">
      <button>
        <span>Logout</span>
        <i class="fa fa-sign-out"></i>
      </button>
    </div>
  </div>

  <ng-template #showLoginButton>
    <div class="login-button" (click)="navigateToLogin()">
      <button>
        <span>Login</span>
        <i class="fa fa-sign-in"></i>
      </button>
    </div>
  </ng-template>
</div>
<!-- </div> -->
