.modal {
  display: flex;
  width: 700px;
  height: auto;
  max-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-shrink: 0;
  border-radius: 15px;
  background: rgba(70, 66, 149, 0.76);
  flex-direction: column;
  padding: 20px;
  position: fixed;
  overflow-y: auto;
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  text-align: center;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

/* Role Section Styles */
.role-section {
  margin-bottom: 20px;
}

.role-section h3 {
  color: #ffffff;
  margin-bottom: 10px;
}

/* Table Styles */
.role-table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.1);
}

.role-table th,
.role-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dedcdc;
}

.role-table th {
  background-color: rgba(70, 66, 149, 0.9);
  color: white;
}

.screen-url {
  color: #d0d0d0;
  text-decoration: underline;
}

/* Checkbox Styles */
input[type="checkbox"] {
  cursor: not-allowed;
}
