<div class="modal">
  <div class="close-icon" (click)="closePopup()">
    <i class="fa-solid fa-circle-xmark"></i>
  </div>
  <h2>Screen Management</h2>

  <div class="screenlist">
    <div *ngFor="let screen of screens" class="screen-item">
      <span>{{ screen.screenName }}</span>
      <!-- Displaying screenName -->
      <span>{{ screen.routeURL }}</span>
      <!-- Displaying routeURL -->
      <div class="edit-buttons">
        <button class="edit-button" (click)="editScreen(screen)">
          <i class="fas fa-edit"></i> Edit
        </button>
      </div>
    </div>

    <div *ngIf="editingScreen" class="edit-buttons">
      <input
        class="screen-input"
        [(ngModel)]="editingScreen.screenName"
        placeholder="Screen Name"
      />
      <input
        class="screen-input"
        [(ngModel)]="editingScreen.routeURL"
        placeholder="Screen URL"
      />
      <button (click)="saveEditedScreen()">Save</button>
      <button (click)="cancelEdit()">Cancel</button>
    </div>
  </div>
</div>
