<div class="header">
  <div class="icon-container">
    <i
      matTooltip="Disconnect Database"
      class="fa-solid fa-plug-circle-xmark"
      (click)="switchView()"
    ></i>
    <i matTooltip="Logout" class="fas fa-sign-out-alt" (click)="logout()"></i>
  </div>
</div>

<div class="content">
  <div class="left-header">
    <span>Entity List</span>
  </div>
  <div class="right-header">
    <button
      class="createbutton"
      mat-raised-button
      color="primary"
      (click)="CreateEntity()"
    >
      Create Entity
    </button>
  </div>
</div>

<div
  class="entity-list-container"
  [ngClass]="{ scrollable: entityList.length > 12 }"
>
  <!-- Search box -->
  <div class="search-box">
    <input
      #searchInput
      type="text"
      placeholder="Search by Entity Name"
      (input)="onSearch(searchInput.value)"
    />
    <i class="fas fa-search"></i>
  </div>
  <!-- Line below search box -->
  <div class="line"></div>

  <!-- Display entity names here -->
  <div *ngFor="let entity of entityList" class="entity-box">
    <!-- Display only the first 10 letters and add ellipsis if the entity name is longer -->
    <div class="short-entity-name" [matTooltip]= "entity.entityName">{{ entity.entityName | slice:0:12 }}{{ entity.entityName.length > 10 ? '...' : '' }}</div>
  
    <div class="icons-container1">
      <div
        [routerLink]="['/Edit-Entity', entity.entityName]"
      >
        <i matTooltip="Add Validation" class="fa-solid fa-plus"></i>
      </div>
      <i
        matTooltip="View Attributes"
        class="fa-solid fa-eye"
        [routerLink]="['/entity', entity.entityName]"
      ></i>
    </div>
  </div>
</div>
